@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  background: #000000d0;
  color: #fff;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_btn {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background: #7c7c7c6b;
  }
}

.search_bar {
  border: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: #fff;
  font-family: inherit;
  font-size: 100%;
  width: calc(100% - 100px);
}

.weather {
  text-transform: capitalize;
}

.city {
  margin-bottom: 20px;
}

.temp {
  margin-bottom: 15px;
}

.weater_icon {
  width: 30px;
  height: 30px;
  align-items: center;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
  &::after {
    visibility: visible;
    content: 'loading...';
    color: #fff;
    position: absolute;
    top: 0;
    left: 20px;
  }
}